<form class="example-form">
  <mat-form-field class="full-width">
    <mat-label>SCL Address</mat-label>
    <input matInput
           placeholder="Ex. http://localhost:9090?blockchain=ethereum&blockchain-id=eth-0&address=0x580b1500e3cea21D4D85b001787791aE0011928b"
           [(ngModel)]="scl" name="sclAddress">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>SCIP Method</mat-label>
    <mat-select [(value)]="method">
      @for (method of scipMethods; track method) {
        <mat-option [value]="method">{{ method }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>
<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        @if (method === ScipMethod.INVOKE) {
          <form [formGroup]="invokeForm" novalidate (ngSubmit)="onSubmit()">
            <mat-card class="shipping-card">
              <mat-card-header>
                <mat-card-title>Smart Contract Function Invocation</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <mat-label>Function name</mat-label>
                      <mat-select formControlName="scFunction">
                        @for (group of functionNames; track group) {
                          <mat-optgroup [label]="group.name">
                            @for (func of group.functions; track func) {
                              <mat-option [value]="func.value">{{ func.viewValue }}</mat-option>
                            }
                          </mat-optgroup>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Argument 1" formControlName="parameter1Value">
                      @if (invokeForm.controls['parameter1Value'].hasError('required')) {
                        <mat-error>Argument 1 value is <strong>required</strong></mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Argument 2" formControlName="parameter2Value">
                      @if (invokeForm.controls['parameter2Value'].hasError('required')) {
                        <mat-error>Argument 2 value is <strong>required</strong></mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Argument 3" formControlName="parameter3Value">
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Invoke</button>
              </mat-card-actions>
            </mat-card>
          </form>
        } @else if (method === ScipMethod.START) {
          <button mat-button (click)="start()" [disabled]="!this.scl">Start</button>
        } @else if (method === ScipMethod.REGISTER) {
          <form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
            <mat-card class="shipping-card">
              <mat-card-header>
                <mat-card-title>Blockchain Registration</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Distributed Transaction Id" formControlName="txId">
                      @if (registerForm.controls['txId'].hasError('required')) {
                        <mat-error>Distributed transaction id is <strong>required</strong></mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Blockchain Id" formControlName="blockchainId">
                      @if (registerForm.controls['blockchainId'].hasError('required')) {
                        <mat-error>Blockchain id is <strong>required</strong></mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>

              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Register</button>
              </mat-card-actions>
            </mat-card>
          </form>
        } @else if(method === ScipMethod.COMMIT) {
          <form [formGroup]="commitForm" novalidate (ngSubmit)="onSubmit()">
            <mat-card class="shipping-card">
              <mat-card-header>
                <mat-card-title>Commit Distributed Transaction</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Distributed Transaction Id" formControlName="txId">
                      @if (commitForm.controls['txId'].hasError('required')) {
                        <mat-error>Distributed transaction id is <strong>required</strong></mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Commit</button>
              </mat-card-actions>
            </mat-card>
          </form>
        } @else {
          <form [formGroup]="abortForm" novalidate (ngSubmit)="onSubmit()">
            <mat-card class="shipping-card">
              <mat-card-header>
                <mat-card-title>Abort Distributed Transaction</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Distributed Transaction Id" formControlName="txId">
                      @if (abortForm.controls['txId'].hasError('required')) {
                        <mat-error>Distributed transaction id is <strong>required</strong></mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Abort</button>
              </mat-card-actions>
            </mat-card>
          </form>
        }
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-card class="shipping-card">
          <mat-card-header>
            <mat-card-title>Info:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p><strong>Transaction Manager: </strong><span #tm>{{environment.TM}}</span> <a style="margin-left: 10px" (click)="copyText(tm.innerText)"><mat-icon>content_copy</mat-icon></a></p>
            <p><strong>HotelMgtSC: </strong> <span #hotel>{{environment.HotelMgtSC}}</span> <a style="margin-left: 10px" (click)="copyText(hotel.innerText)"><mat-icon>content_copy</mat-icon></a></p>
            <p><strong>FlightMgtSC: </strong> <span #flight>{{environment.FlightMgtSC}}</span> <a style="margin-left: 10px" (click)="copyText(flight.innerText)"><mat-icon>content_copy</mat-icon></a></p>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Event Log</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <textarea readonly class="log" [(ngModel)]="logMsg"></textarea>
      </mat-card-content>
    </mat-card>
  </div>
</div>
